[Unit]
Description=AppDynamics Events Service
Requires=appd-econsole.service
After=appd-econsole.service

[Service]
ExecStart=/usr/bin/appd-ctl.sh events_service start
ExecStop=/usr/bin/appd-ctl.sh  events_service stop

[Install]
WantedBy=multi-user.target
