[Unit]
Description=AppDynamics eConsole
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/appd-ctl.sh econsole start
ExecStop=/usr/bin/appd-ctl.sh  econsole stop

[Install]
WantedBy=multi-user.target
