[Unit]
Description=AppDynamics Controller
Requires=appd-econsole.service
After=appd-econsole.service appd-events-service.service multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/appd-ctl.sh controller start
ExecStop=/usr/bin/appd-ctl.sh  controller stop

[Install]
WantedBy=multi-user.target
