[Unit]
Description=AppDynamics Controller
After=ssh.service

[Service]
Type=oneshot
ExecStart=/usr/bin/appd-ctl.sh controller start
ExecStop=/usr/bin/appd-ctl.sh  controller stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
