[Unit]
Description=AppDynamics Controller
Requires=appd-econsole.service
After=appd-econsole.service
Before=appd-econsole.service

[Service]
Type=oneshot
ExecStart=/usr/bin/appd-ctl.sh controller start
ExecStop=/usr/bin/appd-ctl.sh  controller stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
