[Unit]
Description=AppDynamics Events Service
After=ssh.service

[Service]
Type=oneshot
ExecStart=/usr/bin/appd-ctl.sh events_service start
ExecStop=/usr/bin/appd-ctl.sh  events_service stop
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target
